BLOG_STUDIO_IMAGE=blog-studio:local
BLOG_STUDIO_VCS_REF=development
BLOG_STUDIO_UID=1000
BLOG_STUDIO_GID=1000
BLOG_STUDIO_LOCAL_PORT=4310
BLOG_STUDIO_HOSTNAME=blog-editor.internal.wj2015.com
BLOG_STUDIO_ALLOWED_ORIGINS=https://blog-editor.internal.wj2015.com
BLOG_STUDIO_TRAEFIK_NETWORK=home-server_default
BLOG_STUDIO_DATA_PATH=./data
BLOG_STUDIO_CONFIG_PATH=./config/blog-studio.yml
BLOG_STUDIO_WORKSPACE_PATH=./workspace
BLOG_STUDIO_AUTH_TOKEN_PATH=./secrets/auth_token
BLOG_STUDIO_COOKIE_SECRET_PATH=./secrets/cookie_secret
